body {
  /* 加载背景图 */
  background-image: url(../img/task-index-bg.png);
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
}
#logincard{
  max-width: 557px;
  box-shadow:0px 2px 2px 2px rgba(176, 170, 170, 0.25)!important;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.card:hover,
#logincard:hover
{
  box-shadow:0px 5px 5px 5px rgba(176, 170, 170, 0.25)!important;
  backdrop-filter: blur(50px);-webkit-backdrop-filter: blur(30px);
}
nav{
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
}

.card{
  opacity: 0.9;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(30px);
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.dropdown-menu,.dropdown-item{
  backdrop-filter: blur(300px)!important;
  -webkit-backdrop-filter: blur(300px)!important;
}